extends layout

block content
    h2
        Please upload an image
    p
        em
            Note: please ensure it's at least 960 x 300 pixels in size.

    form(method='post' action='/upload' enctype='multipart/form-data')
        .form-group
            input(type='file' name='file')
        .form-group
            input(type='submit' value='Submit' class='btn btn-primary')
